@model InterfacePontBascule.Models.ReceptionTransfertRondBeton



@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reprise achat</h1>

@*<h4>Achat</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ParcId" class="control-label"></label>
                <select asp-for="ParcId" class="form-control" asp-items="ViewBag.ParcId"></select>
                <span asp-validation-for="ParcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBL" class="control-label"></label>
                <input asp-for="NumBL" class="form-control" />
                <span asp-validation-for="NumBL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOp" class="control-label"></label>
                <input asp-for="DateOp" class="form-control" />
                <span asp-validation-for="DateOp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transporteur" class="control-label"></label>
                <input asp-for="Transporteur" class="form-control" />
                <span asp-validation-for="Transporteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provenance" class="control-label"></label>
                <input asp-for="Provenance" class="form-control" />
                <span asp-validation-for="Provenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDeTransportId" class="control-label"></label>
                <select asp-for="TypeDeTransportId" class="form-control" asp-items="ViewBag.TypeDeTransportId"></select>
                <span asp-validation-for="TypeDeTransportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDeCamionId" class="control-label"></label>
                <select asp-for="TypeDeCamionId" class="form-control" asp-items="ViewBag.TypeDeCamionId"></select>
                <span asp-validation-for="TypeDeCamionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mat" class="control-label"></label>
                <input asp-for="Mat" class="form-control" />
                <span asp-validation-for="Mat" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Diametre" class="control-label"></label>
                <input asp-for="Diametre" class="form-control" />
                <span asp-validation-for="Diametre" class="text-danger"></span>
            </div>    
            
            
            <div class="form-group">
                <label asp-for="PCC" class="control-label"></label>
                <input asp-for="PCC" class="form-control" readonly="readonly"/>
                <span asp-validation-for="PCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCV" class="control-label"></label>
                <input asp-for="PCV" class="form-control" readonly="readonly"/>
                <span asp-validation-for="PCV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PQS" class="control-label"></label>
                <input asp-for="PQS" class="form-control" readonly="readonly"/>
                <span asp-validation-for="PQS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Termine" /> @Html.DisplayNameFor(model => model.Termine)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
  @*  @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@


    <script>
        $(document).ready(function () {
            $("#pesertare").click(function () {
                $.ajax({
                    url: "@Url.Action("Peser", "Business")", // Replace "ControllerName" with your actual controller name
                    type: "GET",
                    success: function (result) {
                        // $("#result").text(result);
                        $('#tare').val(result);
                        $('#calculer').removeAttr('disabled');

                    },
                    error: function (xhr, status, error) {
                        console.log("An error occurred: " + error);
                    }
                });
            });


            $("#calculer").click(function () {
                var chrg = $("#pcharge").val();
                var tr = $("#tare").val();
                var rb = $("#rabais").val();
                var brut = chrg - tr;
                var net = brut - rb;

                $("#pbrut").val(brut);
                $("#pnet").val(net);


                $('#sbmt').removeAttr('disabled');

            });
        });
    </script>
}
