@page
@model LockoutModel
@{

    Layout = "/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Veroullié";
}

<header>
    @*<h1 class="text-danger">@ViewData["Title"]</h1>*@
    <p class="text-danger">Cet utilisateur est désactivé, merci de contacter le support.</p>
</header>
